*, body{
    margin: 0;
    padding: 0;
    background-color: #f5fffd;
}

html{
    scroll-behavior: smooth;
}

.linkNavMenu:hover{
    color: #4fd4b9;
}

.headerIndex{
    height: 700px;
}

.background_header_index{
    background-color: #315d54;
}

.background_header_index, .background_header_index a{
    color: #ffffff;
}

.fixed_nav_bar_menu{
    position: fixed;
    top: 0;
    width: 100%;
    animation-name: user_animation;
    animation-duration: 1s;
}

@keyframes user_animation{
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#seeMoreButton{
    background-color: #f5fffd;
    color: #315d54;
    border: 0px;
    border-radius: 30px;
    font-weight: 500;
}

#seeMoreButton:hover{
    background-color: #4fd4b9;
    color: #f5fffd;
}

.image_back_1, .image_back_2{
    width: 400px;
    height: 400px;
    background-position: center;
    background-blend-mode: soft-light;
    background-color: #000000cf;
    color: #ffffff;
}

.image_back_1 p, .image_back_2 p, .image_back_1 p b, .image_back_2 p b{
    background: none;
}

.image_back_1{
    background-image: url(./media/city-1.jpg);    
}
.image_back_2{
    background-image: url(./media/city-2.jpg);
}